# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Database
*.mdf
*.ldf

# ASP.NET
appsettings.Development.json