@model PLPSOFT.ERP.Domain.Entities.MasterData.Supplier

<div class="container mt-4">
    <h2 class="mb-4"> Thêm nhà cung cấp</h2>

    <form asp-action="Create" method="post" class="card p-4 shadow-sm">
        <div class="col">
            <label class="form-label">Công ty</label>
            <select id="companyDropdown" asp-for="CompanyId" class="form-select" required>
                <option value="">-- Chọn công ty --</option>
                @foreach (var item in ViewBag.Companies)
                {
                    <option value="@item.CompanyId">@item.CompanyName</option>
                }
            </select>
        </div>
        <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">Tên</label>
                <input asp-for="SupplierName" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Mã số thuế</label>
                <input asp-for="TaxCode" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Loại nhóm</label>
                <select id="supplierTypeDropdown" asp-for="SupplierTypeId" class="form-select" required>
                    <option value="">-- Chọn loại nhà cung cấp --</option>
                    @foreach (var item in ViewBag.SupplietType)
                    {
                        <option value="@item.TypeValueId">@item.ValueName</option>
                    }
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Nhóm nhà cung cấp</label>
                <select id="groupDropdown" asp-for="SupplierGroupId" class="form-select">
                    <option value="">-- Chọn nhóm --</option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Giới hạn tín dụng</label>
                <input asp-for="CreditLimit" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Số ngày thanh toán</label>
                <input asp-for="PaymentTermDays" class="form-control" />
            </div>
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success"> Lưu</button>
            <a asp-action="Index" class="btn btn-secondary"> Quay lại</a>
        </div>

    </form>
    <script>
        document.getElementById("companyDropdown").addEventListener("change", function () {
            var companyId = this.value;

            fetch('/SuppliersMVC/GetSupplierGroupsByCompany?companyId=' + companyId)
                .then(response => response.json())
                .then(data => {
                    var groupDropdown = document.getElementById("groupDropdown");
                    groupDropdown.innerHTML = '<option value="">-- Chọn nhóm --</option>';

                    data.forEach(item => {
                        groupDropdown.innerHTML += `<option value="${item.supplierGroupId}">${item.groupName}</option>`;
                    });
                });
        });
    </script>
</div>