@model PLPSOFT.ERP.Domain.Entities.MasterData.CustomerAddress

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CustomerAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @* An ID khach hang *@
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group">
                <label asp-for="AddressLine" class="control-label"></label>
                <input asp-for="AddressLine" class="form-control" />
                <span asp-validation-for="AddressLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ward" class="control-label"></label>
                <input asp-for="Ward" class="form-control" />
                <span asp-validation-for="Ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @* Quay ve dung danh sach dia chi cua khach hang *@
    <a asp-action="Index" asp-route-customerId="@Model.CustomerId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}