@model SupplierGroup

<div class="container mt-4">
    <h2 class="mb-3">Thêm nhóm</h2>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label">Mã</label>
            <input asp-for="GroupCode" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Tên</label>
            <input asp-for="GroupName" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Trạng thái</label>
            <select asp-for="IsActive" class="form-select">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>