@model PLPSOFT.ERP.Domain.Entities.MasterData.SupplierGroup

<div class="container mt-4">
    <h2 class="mb-3">Thêm nhóm</h2>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label">Tên nhóm</label>
            <input asp-for="GroupName" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Công ty</label>
            <select asp-for="CompanyId" class="form-select">
                @foreach (var item in ViewBag.Companies)
                {
                    <option value="@item.CompanyId">@item.CompanyName</option>
                }
            </select>
        </div>


        <button type="submit" class="btn btn-success">Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>