@model PLPSOFT.ERP.Domain.Entities.MasterData.SupplierGroup


<div class="container mt-4">
    <h2 class="mb-4">Sửa nhóm nhà cung cấp</h2>

    <form asp-action="Edit" method="post" class="card p-4 shadow-sm">

        <input type="hidden" asp-for="SupplierGroupID" />

        <div class="mb-3">
            <label class="form-label">Mã nhóm</label>
            <input asp-for="GroupCode" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Tên nhóm</label>
            <input asp-for="GroupName" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Trạng thái</label>
            <select asp-for="IsActive" class="form-select">
                <option value="true">Active</option>
                <option value="false">Ngưng hoạt động</option>
            </select>
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success"> Lưu</button>
            <a asp-action="Index" class="btn btn-secondary"> Quay lại</a>
        </div>

    </form>
</div>