@model PLPSOFT.ERP.Domain.Entities.MasterData.ProductUnitMapping

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductUnitMapping</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnitMappingId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Sản Phẩm</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId">
                    <option value="">-- Chọn Sản Phẩm --</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label">Đơn Vị</label>
                <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId">
                    <option value="">-- Chọn Đơn Vị --</option>
                </select>
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConversionRate" class="control-label"></label>
                <input asp-for="ConversionRate" class="form-control" />
                <span asp-validation-for="ConversionRate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}