@model PLPSOFT.ERP.WebApp.Models.CategoryViewModel

@{
    ViewData["Title"] = "Thêm danh mục";
}

<div class="container mt-4">
    <h3>Thêm danh mục</h3>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label>Mã danh mục</label>
            <input asp-for="CategoryCode" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Tên danh mục</label>
            <input asp-for="CategoryName" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>